<div class="container">
	<div class="row">
	<div class="panel panel-default clearfix">
                            <div class="panel-heading">
                                <h2 class="panel-title">{{post.title}}</h2>
                                <p class="small">
                                    {{post.title}}
                                </p>
								<div>
							        <fc-comment-input [onSubmit]='onSubmit' [notification]='notification'></fc-comment-input>
							    </div>
								<button type="button" class="btn btn-danger">delete</button>
                            </div>

                                <div>
                                    <my-post-comments></my-post-comments>
                                </div>
                            </div>
	</div>
</div>
